* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* medida a partir da caixa */
}

html {
  --bg-color: #edf2ff;
  --text-color: #00082f;
  --primary-color: #4263eb;
  --primary-color-dark: #364fc7;
}

body {
  background: var(--bg-color);
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
}

body.degrade {
  height: 100%;
  background-image: linear-gradient(to bottom, #00082f, #4263eb);
  --text-color: white;
  background-attachment: fixed;
}

body.dark {
  --bg-color: #00082f;
  --text-color: white;
}

body.pink {
  --bg-color: #fff0f6;
  --text-color: #1f000b;
  --primary-color: #d6336c;
  --primary-color-dark: #a61e4d;
}

.container {
  text-align: center;
  width: 300px;
  margin: 60px auto;
}

img {
  width: 100%;
}

img.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 3.7px;
  border: var(--primary-color) solid 4px;
}
h1 {
  font-size: 32px;
  margin-top: 24px;
  margin-bottom: 8px;
}

.username {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  opacity: 0.8;
  font-size: 18px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 48px 0;
}

ul li a {
  display: flex;
  height: 53px;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 16px;
  border-radius: 6px;
  transition: background 400ms;
  border: 2px solid white;
}

ul li a:hover {
  background-color: var(--primary-color-dark);
}

footer {
  font-weight: 400;
  font-size: 12px;
  opacity: 0.6;
  transition: opacity 400ms;
}

footer:hover {
  opacity: 1;
}

footer a {
  color: var(--text-color);
}

a.whatsicon img {
  display: flex;
  width: 25px;
  height: 25px;
  margin-right: 6px;
}

a.giticon img {
  display: flex;
  width: 25px;
  height: 25px;
  margin-right: 8px;
  align-items: center;
}

a.faceicon img {
  display: flex;
  width: 30px;
  height: 30px;
  margin-right: 8px;
  align-items: center;
}

a.instaicon img {
  display: flex;
  width: 25px;
  height: 25px;
  margin-right: 8px;
  align-items: center;
}
